style
  include /styles/menu.min.css

nav.dws-menu(style="font-size:26px;")
  ul
    li
      a(href="/admin/cafedra/schedule/find/week") Розклад
    li
      a(href="#") Кафедра
      ul
        li
          a(href="/admin/cafedra/classroom/show") Аудиторії
        li
          a(href="/admin/cafedra/subject/show") Дисципліни
    li
      a(href="#") Налаштування
      ul
        li
          a(href="/admin/user/edit") Користувач
