style
  include /styles/menu.min.css

nav.dws-menu
  ul
    li
      a(href="/admin/cafedra/schedule/show") Розклад
    li
      a(href="#") Кафедра
      ul
        li
          a(href="/admin/cafedra/classrooms") Аудиторії
        li
          a(href="/admin/cafedra/subjects") Дисципліни
    li
      a(href="#") Налаштування
      ul
        li
          a(href="#") Вигляд
        li
          a(href="/admin/user/edit") Користувач
