$sub-bg: #178d2b;
$sub-shadow: rgba(211, 241, 241, 0.664);

.dws-menu {
  * {
    margin: 0;
    padding: 0;
    font-size: 26px;
    z-index: 9;
  }
  ul,
  ol {
    list-style: none;
  }

  .transparent-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #454547;
    text-shadow: 0 0 1em rgba(12, 12, 12, 0.63);
    
    &:hover {
          background: $sub-bg;
          color: #ffffff;
          transition: all 0.3s ease;
        }
  }

  > ul {
    display: flex;
    justify-content: center;

    li {
      position: relative;

      a {
        display: block;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 0px 0px;
        text-shadow: 0 0 1em rgba(12, 12, 12, 0.63);
        font-size: 24px;
        color: #454547;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;
        
      }
    }
  }

  li {
    ul {
      position: absolute;
      min-width: 150px;
      display: none;
    }

    > ul {
      li {
        a {
          padding: 10px;
          margin: 0px;
          text-transform: uppercase;
          background: $sub-shadow;
          box-shadow: 0px 0px 10px 5px $sub-shadow;
          font-size: 18px;
        }

        ul {
          position: absolute;
          right: -150px;
          top: 0;
        }
      }
    }

    a {
      &:hover {
        background: $sub-bg;
        color: #ffffff;
        box-shadow: 1px 5px 10px -5px black;
        transition: all 0.3s ease;
      }
    }

    &:hover > ul {
      display: block;
    }
  }
}
