style
  include /styles/menu.min.css

nav.dws-menu
  ul
    li
      a(href="#") Розклад
      ul
        li
          a(href="#") Календар
        li
          a(href="#") Сьогодні
    li
      a(href="#") Кафедра
      ul
        li
          a(href="#") Викладачі
        li
          a(href="#") Аудиторії
        li
          a(href="#") Групи
        li
          a(href="#") Дисципліни
        li
          a(href="#") Час
    li
      a(href="#") Цитати
    li
      a(href="#") Налаштування
      ul
        li
          a(href="/admin/user/list") Користувачі