style
  include /styles/menu.min.css

nav.dws-menu(style="font-size: 26px;")
  ul
    li
      a(href="#") Розклад
      ul
        li
          a(href="#" class="open-modal-btn") Завантажити
        li
          a(href="/admin/sp/schedule/show") Переглянути
    li
      a(href="#") Кафедри
      ul
        li
          a(href="/admin/sp/classroom/show") Аудиторії
        li
          a(href="/admin/sp/subject/show") Дисципліни
        li
          a(href="/admin/sp/cafedra/list") Список
    li
      a(href="#") Статистика
      ul
        li
          a(href="/admin/sp/classroom/free") Вільні Аудиторії
        li
          a(href="#") Групи
    li
      a(href="/admin/sp/couple/show") Пари
    li
      a(href="#") Архів
      ul
        li
          a(href="#") Імпорт
        li
          a(href="#") Експорт
    li
      a(href="#") Налаштування
      ul
        li
          a(href="/admin/user/edit") Користувач

  include ../../../../../../components/schedule/views/upload.pug