extends ../../../global/views/layouts/mainCafedra.pug

block content
  - let counter = 0;
  h2 Аудиторії
  - if (data)
    div(class="table-wrapper")  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Аудиторії
            th Кількість місць
            th Опис
        tbody
          each item in data
            tr
              td= ++counter
              td= item
              td в процесі розробки
              td в процесі розробки