extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2 Вільні аудиторії
  - if (data)
    div(class="table-wrapper")  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Кафедра
            th Аудиторія
            th Місць
            th Опис
        tbody
          each item in data
            tr
              td= ++counter
              td= item.cafedra
              td= item.name
              td= item.seats_place
              td= item.description
              