extends ../../../global/views/layouts/mainSp.pug

block content
   h2 Оберіть Пару та День тижня
   div
    form(action="/admin/sp/classroom/free" method="POST")
        select(name="couple", id='first')
            each val in [1,2,3,4]
                option=val
        select(name="date", id='two')
            each val in dates
                option=val
        button(type="submit") Пошук        


