extends ../../../global/views/layouts/mainSp.pug

block content
  p Змінити пароль
  div(class="container")  
    form(action=`/admin/user/change-password/`, method="post")
      div(class="row")
        div(class="col-25")
          label(for="current_password") Поточний пароль
        div(class="col-75")
        input(type="password", name="current_password" id="current_password")
      div(class="row")
        div(class="col-25")
          label(for="new_password1") Новий пароль
        div(class="col-75")
          input(type="password", name="new_password1" id="new_password1")
      div(class="row")
        div(class="col-25")
          label(for="new_password2") Новий пароль ще раз
        div(class="col-75")
          input(type="password", name="new_password2" id="new_password2")
      button(type="submit" class="signInButton") Зберегти
