case category
  when "Кафедра"
    extends ../../../global/views/layouts/mainCafedra.pug
  when "Навчальний відділ"
    extends ../../../global/views/layouts/mainSp.pug

block content
  p Змінити пароль
  form(action=`/admin/user/change-password/`, method="post")
    div
      label(for="current_password") Поточний пароль
      input(type="password", name="current_password" id="current_password")
    div
      label(for="new_password1") Новий пароль
      input(type="password", name="new_password1" id="new_password1")
    div
      label(for="new_password2") Новий пароль ще раз
      input(type="password", name="new_password2" id="new_password2")
    button(type="submit") Зберегти
