extends ../../../global/views/layouts/mainCafedra.pug

block content
  style
    include /styles/edit.css
  h2 Налаштування
  h4 Особисті дані
  form(action=`/admin/user/edit`, method="post" class="edit-container")
    div
      label(for="name") Ім'я
      input(id="name" type="text" name="name" value=name required)
    div
      label(for="email") e-mail
      input(id="email" type="email" name="email" value=email required)
    div
      label(for="password") Пароль
      input(id="password" type="password" name="password" value=password required)    
    a(href="/admin/user/change-password") Змінити пароль
    button(type="submit" class="save-btn") Зберегти