extends ../../../global/views/layouts/mainCafedra.pug

block content
  style
    include /styles/login.css
  h2 Налаштування
  h4 Особисті дані
  div(class="container")
    form(action=`/admin/user/edit`, method="post")
      div(class="row")
        div(class="col-25")
          label(for="name") Ім'я:
        div(class="col-75")
          input(id="name" type="text" name="name" value=name required)
      div(class="row")
        div(class="col-25")
          label(for="email") e-mail
        div(class="col-75")
          input(id="email" type="email" name="email" value=email required)
      div(class="row")
        div(class="col-25")
          label(for="password") Пароль
        div(class="col-75")
          input(id="password" type="password" name="password" value=password required)    
      a(href="/admin/user/change-password" class="signUp") Змінити пароль
      button(type="submit" class="signInButton") Зберегти