extends ../../../global/views/layouts/main.pug

block content
  - let counter = 0;
  h2 Користувачі
  a(href="/admin/user/add") Створити нового
  - if (data)
    table
      thead
        tr
          th №п/п
          th Ім'я
          th Email
          th Дії
      tbody
        each item in data
          tr
            td= ++counter
            td= item.name
            td= item.local.email
            td
              form(action=`/admin/user/edit/${item.id}` method="GET") 
                button(type="submit") Редагувати
              //form(action=`/admin/user/delete/${item.id}` method="POST") 
              button(class="open-modal-btn") Видалити
  include ./confirm.pug

