extends ../../../global/views/layouts/mainCafedra.pug

block content
  - let counter = 0;
  h2 Предмети
  - if (data)
    div(class="table-wrapper")
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Абревіатура
            th Повна назва
        tbody
          each item, idx in data
            tr
              td= ++counter
              td= item
              td в процесі розробки