extends ../../../global/views/layouts/mainCafedra.pug

block content
  - let counter = 0;
  h2 Аудиторії
  a(href="/admin/cafedra/classroom/add") Додати
  - if (data)
    div(class="table-wrapper")  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Аудиторії
            th Кількість місць
            th Опис
            th Дії
        tbody
          each item in data
            tr
              td= ++counter
              td= item
              td в процесі розробки
              td в процесі розробки
              td
                a(href=`/admin/cafedra/classroom/edit/${item}` class="edit") Редагувати
                form(action=`/admin/cafedra/classroom/delete/${item}`, method="post")
                  button(type="submit" class="delete") Видалити
                    i.far.fa-trash-alt 