extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2 Навчальні групи
  - if (data)
    ul(class="auts")
        each label,index in labels
          li
            a(href=`#`)=label + ' факультет'
    div(class="table-wrapper")  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Група
            th За списком
            th В наявності
            th Дії
        tbody
          each item in data
            tr
              td= ++counter
              td в процесі розробки
              td в процесі розробки
              td в процесі розробки
              td 
                a(href=`#` class="edit") Редагувати
                form(action=`#`, method="post")
                  button(type="submit" class="delete") Видалити
                    i.far.fa-trash-alt