extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2 Аудиторії
  - if (data)
    div(table-wrapper)  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Кафедра 
            th Аудиторії
        tbody
          each item in data
            tr
              td= ++counter
              td= item.name
              td= item.classrooms