extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2 Предмети
  - if (data)
      ul(class="auts")
        each label,index in labels
          li
            a(href='/admin/sp/cafedra/subjects/'+index)=label + ' кафедра'
  div(class="table-wrapper")  
    table(class="fl-table")
      thead
        tr
          th №п/п 
          th Предмети
      tbody
        each item in data
          tr
            td= ++counter
            td= item