extends ../../../global/views/layouts/mainCafedra.pug

block content
  - let counter = 0;
  h2 Дисципліни
  - if (data)
    div(class="table-wrapper")
      table(class="fl-table")
        thead
          tr
            th №п/п
            th Назва
        tbody
          each item in data
            tr
              td= ++counter
              td= item

