style
  include /styles/header.min.css

header#header.header
  a(href="/admin")
    img.logo(src="/img/Logo.png" alt="logo")
  include ./partials/menu/menu_schoolpart.pug
  form(action="/auth/logout" method="POST")
    button(type="submit") Вихід