style
  include /styles/header.min.css
  include /styles/main.css

header#header.header
  a(href="/admin")
    img.logo(src="/img/Logo.png" alt="logo" class="logo")
  block menu
  form(action="/logout" method="POST")
    button(type="submit" class="exit") Вихід