extends ../../../global/views/partials/modal/modal.pug

block content
  p Завантажити розклад(.xls, .xlsx)
  form(action=`/admin/sp/schedule/upload`, method="post" enctype="multipart/form-data")
    input(type="file" name="upload_schedule" 
      id="upload_schedule" class="modal-upload"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
    button(type="submit" id="upload_submit" class="modal-btn") Зберегти
  a(href="#" class="modal-close") Скасувати
  