extends ../../../global/views/layouts/mainCafedra.pug

block content
  - let counter = 0;
  h2 Предмети
  a(href="/admin/cafedra/subject/add") Додати
  - if (data)
    div(class="table-wrapper")
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Абревіатура
            th Повна назва
            th Операції
        tbody
          each item, idx in data
            tr
              td= ++counter
              td= item.abbreviation
              td= item.title
              td
                a(href=`/admin/cafedra/subject/edit/${item.id}` class="edit") Редагувати
                form(action=`/admin/cafedra/subject/delete/${item.id}`, method="post")
                  button(type="submit" class="delete") Видалити
                    i.far.fa-trash-alt 